body {
  background-color: #FCDEBE;
  color: #5E5768;
}

h1 {
  text-align: center;
}

a {
  color: steelblue;
}

a:hover {
  color: darkblue;
}

h2 {
  text-decoration: underline;
}

p {
  font-family: verdana;
}

.extreme {
	text-align: center;
}

#head1 {
	font-family: Arial;
}

.content {
	font-size: 2em;
	font-style: italic;
}
